<form class="form-group"><input class="form-control" type="date" (change)="onChange($event.target.value)" value="2018-11-01"/></form>
<hr />
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Investment</th>
      <th scope="col">Asset</th>
      <th scope="col">Investment Date</th>
      <th scope="col">Shares</th>
      <th scope="col">Cost</th>
    </tr>
  </thead>
  <tbody *ngFor="let investment of investments">
    <th scope="row">{{ investment["name"] }}</th>
    <tr *ngFor="let asset of investment['issued_assets']">
      <td></td>
      <td>{{ asset["asset_class"] }}</td>
      <td>{{ asset["investment_date"] }}</td>
      <td>{{ asset["quantity"] }}</td>
      <td>{{ asset["cost"]["$"] }}&nbsp;$</td>
    </tr>
  </tbody>
</table>
