<form class="form-group">
  <label><strong>Select a date to pull data from</strong></label
  ><input
    class="form-control"
    type="date"
    (change)="onChange($event.target.value)"
    value="2018-03-12"
  />
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">
        Investment <img (click)="show = true" [className]=" (show === true)
        ?'is-inactive':'is-active'" src="../../assets/images/expandlogo.png"
        alt="expand arrow">
        <img
          (click)="resetShowInvestmentDict()"
          [className]="show === true ? '' : 'is-inactive'"
          src="../../assets/images/collapselogo.png"
          alt="expand arrow"
        />
      </th>
      <th scope="col">Asset</th>
      <th scope="col">Investment Date</th>
      <th scope="col">Shares</th>
      <th scope="col">Cost</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let investment of investments">
    <th scope="row" (click)="openDetails(investment['name'])">{{ investment["name"] }}</th>
    <th></th>
    <th></th>
    <th>
      {{
        investment["quantity"] === null
          ? ""
          : investment["quantity"].toLocaleString()
      }}
    </th>
    <th>
      {{
        investment["cost"] === null
          ? ""
          : investment["cost"]["$"].toLocaleString()
      }}
    </th>
    <th class="lastCol">$</th>

    <tr
     
      *ngFor="let asset of investment['issued_assets']"
    >
    <td [className]="(show === true) || (show === false && showInvestmentDict[investment['name']] === true)?'':'is-inactive'"></td>
      <td [className]="(show === true) || (show === false && showInvestmentDict[investment['name']] === true)?'':'is-inactive'">{{ asset["asset_class"] }}</td>
      <td [className]="(show === true) || (show === false && showInvestmentDict[investment['name']] === true)?'':'is-inactive'">{{ asset["investment_date"] }}</td>
      <td [className]="(show === true) || (show === false && showInvestmentDict[investment['name']] === true)?'':'is-inactive'">
        {{
          asset["quantity"] === null ? "" : asset["quantity"].toLocaleString()
        }}
      </td>
      <td [className]="(show === true) || (show === false && showInvestmentDict[investment['name']] === true)?'':'is-inactive'" class="costCol" (ngModel)="getAccountTotal()">
        {{
          asset["cost"]["$"] === null ? "" : asset["cost"]["$"].toLocaleString()
        }}
      </td>
      <td [className]="(show === true) || (show === false && showInvestmentDict[investment['name']] === true)?'':'is-inactive'"  class="lastCol">$</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th>Total</th>
      <td></td>
      <td></td>
      <td></td>
      <td class="costCol">
        {{ investmentTotal === null ? "" : investmentTotal.toLocaleString() }}
      </td>
      <td class="lastCol">$</td>
    </tr>
  </tbody>
</table>
