input {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}
.table {
    text-align:justify;
}

.lastCol {
    text-align: left;
    padding-left: 0;
    width: 10px;
}
.costCol {
    text-align: left;
    width: 10px;
}
th {
    text-align: left;
    
}
.logo {
    width: 10%;
}

.is-inactive {
    display:none;
}